body {
    background-color: #131316;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
   
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
  }

/* Exit Animations */

.exit-left{
  transform: translateX(-100%);
}
.exit-right{
  transform: translateX(100%);
}
.exit-up{
  transform: translateY(-100%);
}
.exit-down{
  transform: translateY(100%);
}


  